<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">

    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>


<% end %>