<% if logged_in? %>
  <%= form_for(current_user.current_like(@entry),
               html: { method: :delete },remote: true) do |f| %>
    <button type="submit" class="btn btn-default btn-success">
      <span class="glyphicon glyphicon-thumbs-up"></span> Liked
    </button>
    Ban va <%= @entry.liked.count - 1 %> nguoi khac da thich bai viet nay
  <% end %>
<% else %>
  <button type="button" class="btn btn-default btn-success">
    <span class="glyphicon glyphicon-thumbs-up"></span> Like
  </button>
  <%= @entry.liked.count %> nguoi khac da thich bai viet nay
<% end %>